{% extends 'layout.twig' %}

{% block title "Mes articles" %}

{% block body %}
	<h1>Bienvenue sur le blog</h1>
	<ul>
		<li><a href="{{ path('blog.show', {slug: 'zaeaze0-7aze'}) }}">Article 1</a></li>
		<li>Article 1</li>
		<li>Article 1</li>
	</ul>
{% endblock %}